<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact The Programm3r, Benjamin Ward using email: <a href="mailto:ward.programm3r@gmail.com?Subject=Contact%20From%20Website" target="_top">ward.programm3r@gmail.com</a>
</p>
